	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/10/2016 14:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticond41dd41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-add:before { content: "\f100"; }
.flaticon-add-circular-outlined-button:before { content: "\f101"; }
.flaticon-alarm:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-business:before { content: "\f104"; }
.flaticon-business-1:before { content: "\f105"; }
.flaticon-cancel:before { content: "\f106"; }
.flaticon-cancel-1:before { content: "\f107"; }
.flaticon-cancel-2:before { content: "\f108"; }
.flaticon-cell-phone:before { content: "\f109"; }
.flaticon-chain-links:before { content: "\f10a"; }
.flaticon-check:before { content: "\f10b"; }
.flaticon-check-symbol:before { content: "\f10c"; }
.flaticon-checked:before { content: "\f10d"; }
.flaticon-city:before { content: "\f10e"; }
.flaticon-clip:before { content: "\f10f"; }
.flaticon-clock:before { content: "\f110"; }
.flaticon-clock-1:before { content: "\f111"; }
.flaticon-clock-2:before { content: "\f112"; }
.flaticon-clock-3:before { content: "\f113"; }
.flaticon-commenting:before { content: "\f114"; }
.flaticon-comments:before { content: "\f115"; }
.flaticon-connections:before { content: "\f116"; }
.flaticon-construction:before { content: "\f117"; }
.flaticon-correct:before { content: "\f118"; }
.flaticon-courthouse:before { content: "\f119"; }
.flaticon-cross:before { content: "\f11a"; }
.flaticon-desktop-monitor:before { content: "\f11b"; }
.flaticon-down-arrow:before { content: "\f11c"; }
.flaticon-download:before { content: "\f11d"; }
.flaticon-download-1:before { content: "\f11e"; }
.flaticon-download-arrow:before { content: "\f11f"; }
.flaticon-e-mail-envelope:before { content: "\f120"; }
.flaticon-earth:before { content: "\f121"; }
.flaticon-edit:before { content: "\f122"; }
.flaticon-envelope:before { content: "\f123"; }
.flaticon-eye-open:before { content: "\f124"; }
.flaticon-favorite:before { content: "\f125"; }
.flaticon-favorite-heart-button:before { content: "\f126"; }
.flaticon-file:before { content: "\f127"; }
.flaticon-file-1:before { content: "\f128"; }
.flaticon-gallery:before { content: "\f129"; }
.flaticon-garbage:before { content: "\f12a"; }
.flaticon-glasses:before { content: "\f12b"; }
.flaticon-go-back-arrow:before { content: "\f12c"; }
.flaticon-graph:before { content: "\f12d"; }
.flaticon-graphic:before { content: "\f12e"; }
.flaticon-graphic-1:before { content: "\f12f"; }
.flaticon-growth:before { content: "\f130"; }
.flaticon-growth-1:before { content: "\f131"; }
.flaticon-growth-2:before { content: "\f132"; }
.flaticon-heart:before { content: "\f133"; }
.flaticon-home:before { content: "\f134"; }
.flaticon-house:before { content: "\f135"; }
.flaticon-house-outline:before { content: "\f136"; }
.flaticon-inbox:before { content: "\f137"; }
.flaticon-increasing-stocks-graphic:before { content: "\f138"; }
.flaticon-interface:before { content: "\f139"; }
.flaticon-internet-grid:before { content: "\f13a"; }
.flaticon-left-arrow:before { content: "\f13b"; }
.flaticon-left-arrow-1:before { content: "\f13c"; }
.flaticon-like:before { content: "\f13d"; }
.flaticon-line:before { content: "\f13e"; }
.flaticon-line-chart:before { content: "\f13f"; }
.flaticon-line-chart-1:before { content: "\f140"; }
.flaticon-line-graph:before { content: "\f141"; }
.flaticon-line-graph-1:before { content: "\f142"; }
.flaticon-list:before { content: "\f143"; }
.flaticon-location-marker:before { content: "\f144"; }
.flaticon-location-pin:before { content: "\f145"; }
.flaticon-login:before { content: "\f146"; }
.flaticon-login-1:before { content: "\f147"; }
.flaticon-map-marker:before { content: "\f148"; }
.flaticon-map-marker-1:before { content: "\f149"; }
.flaticon-megaphone:before { content: "\f14a"; }
.flaticon-menu:before { content: "\f14b"; }
.flaticon-menu-1:before { content: "\f14c"; }
.flaticon-message-bubble:before { content: "\f14d"; }
.flaticon-microphone:before { content: "\f14e"; }
.flaticon-microphone-1:before { content: "\f14f"; }
.flaticon-minus-symbol:before { content: "\f150"; }
.flaticon-money-graph-with-up-arrow:before { content: "\f151"; }
.flaticon-multimedia:before { content: "\f152"; }
.flaticon-new-email-outline:before { content: "\f153"; }
.flaticon-paper-plane:before { content: "\f154"; }
.flaticon-paper-plane-1:before { content: "\f155"; }
.flaticon-paper-plane-2:before { content: "\f156"; }
.flaticon-pdf:before { content: "\f157"; }
.flaticon-pen:before { content: "\f158"; }
.flaticon-pen-1:before { content: "\f159"; }
.flaticon-phone-receiver:before { content: "\f15a"; }
.flaticon-pie-chart:before { content: "\f15b"; }
.flaticon-pie-chart-1:before { content: "\f15c"; }
.flaticon-pie-chart-2:before { content: "\f15d"; }
.flaticon-pie-chart-3:before { content: "\f15e"; }
.flaticon-pie-chart-4:before { content: "\f15f"; }
.flaticon-pin:before { content: "\f160"; }
.flaticon-placeholder:before { content: "\f161"; }
.flaticon-placeholder-1:before { content: "\f162"; }
.flaticon-play-button:before { content: "\f163"; }
.flaticon-play-button-1:before { content: "\f164"; }
.flaticon-plus:before { content: "\f165"; }
.flaticon-pyramid-scheme:before { content: "\f166"; }
.flaticon-remove:before { content: "\f167"; }
.flaticon-right-arrow:before { content: "\f168"; }
.flaticon-right-arrow-1:before { content: "\f169"; }
.flaticon-rising-bar-graph-with-arrow-up:before { content: "\f16a"; }
.flaticon-search:before { content: "\f16b"; }
.flaticon-search-1:before { content: "\f16c"; }
.flaticon-security:before { content: "\f16d"; }
.flaticon-settings:before { content: "\f16e"; }
.flaticon-settings-1:before { content: "\f16f"; }
.flaticon-settings-2:before { content: "\f170"; }
.flaticon-settings-3:before { content: "\f171"; }
.flaticon-share:before { content: "\f172"; }
.flaticon-shopping-bag:before { content: "\f173"; }
.flaticon-shopping-cart:before { content: "\f174"; }
.flaticon-shopping-cart-1:before { content: "\f175"; }
.flaticon-shopping-cart-of-checkered-design:before { content: "\f176"; }
.flaticon-smartphones-couple:before { content: "\f177"; }
.flaticon-social:before { content: "\f178"; }
.flaticon-speech-bubble:before { content: "\f179"; }
.flaticon-speech-bubble-1:before { content: "\f17a"; }
.flaticon-square:before { content: "\f17b"; }
.flaticon-square-1:before { content: "\f17c"; }
.flaticon-squares:before { content: "\f17d"; }
.flaticon-star:before { content: "\f17e"; }
.flaticon-statistics:before { content: "\f17f"; }
.flaticon-stats:before { content: "\f180"; }
.flaticon-suitcase:before { content: "\f181"; }
.flaticon-tag:before { content: "\f182"; }
.flaticon-tag-black-shape:before { content: "\f183"; }
.flaticon-technology:before { content: "\f184"; }
.flaticon-technology-1:before { content: "\f185"; }
.flaticon-technology-2:before { content: "\f186"; }
.flaticon-thumbs-up:before { content: "\f187"; }
.flaticon-tick:before { content: "\f188"; }
.flaticon-tool:before { content: "\f189"; }
.flaticon-tool-1:before { content: "\f18a"; }
.flaticon-tool-2:before { content: "\f18b"; }
.flaticon-travel:before { content: "\f18c"; }
.flaticon-travel-1:before { content: "\f18d"; }
.flaticon-unchecked:before { content: "\f18e"; }
.flaticon-up-arrow:before { content: "\f18f"; }
.flaticon-up-arrow-1:before { content: "\f190"; }
.flaticon-web:before { content: "\f191"; }