/* Belgrade : HTML5 Template */

@media only screen and (max-width: 1560px){
	.choose-us{
		background-position:-300px center;	
	}
	
	.choose-us .choose-inner{
		margin-right:0px;	
	}
	
	.testimonial-section .content-column .inner-box{
		padding:8px 0px;
		margin-left:-65px;	
	}
	
	.testimonial-section .carousel-column .inner{
		padding:90px 15px;
		margin-right:-100px;
	}
	
	.testimonail-carousel .owl-controls{
		display:none !important;	
	}
}

@media only screen and (max-width: 1340px){
	
	.testimonial-section .content-column .inner-box{
		padding:60px 0px;
		margin:0px;	
	}
	
	.testimonial-section .carousel-column .inner{
		padding:60px 15px;
		margin:0px;
	}
	
	.testimonial-section .carousel-column .testimonial-inner{
		padding:0px;
		text-align:center;	
	}
	
	.testimonial-section .testimonial-block .inner-box{
		padding-left:0px;	
	}
	
	.testimonial-section .testimonial-block .inner-box .author-image{
		position:relative;
		left:0px;
		top:0px;
		margin:0 auto 30px;	
	}
	
	.about-style-one .content-column .content-box{
		padding-right:20px;	
	}
	
	.page-wrapper{
		overflow:hidden;	
	}
}

@media only screen and (max-width: 1150px){
	.main-header .header-upper .logo-outer,
	.main-header .header-upper .upper-right{
		width:100%;
		text-align:center;
	}
	
	.header-style-two .header-upper .logo{
		top:0px;
		padding-bottom:0px;	
	}
	
	.main-header .header-upper .logo-outer{
		margin-bottom:0px;	
	}
	
	.main-header .info-box{
		display:inline-block;
		margin:0px;
		float:none;
		text-align:left;
	}
	
	.main-header .info-box:last-child{
		text-align:center;	
	}
	
	.main-header .header-upper .info-box::after{
		display:none;	
	}
	
	.header-style-three .header-upper .logo-box{
		position:relative;
		left:0px;
		top:0px;
		width:100%;
		text-align:center;
		margin:15px 0px;	
	}
	
	.main-header .main-menu .navigation > li{
		margin-right:20px;	
	}
	
	.main-header .main-menu .navigation > li > a{
		text-transform:capitalize;	
	}
	
	.content-side{
		padding:0px 15px !important;	
	}
	
	.about-section .image-box,
	.fact-counter{
		padding-left:0px;	
	}
	
	.about-content-box,
	.choose-style-two .featured-block{
		padding-right:0px;	
	}
	
	.call-to-action,
	.call-to-action .text-right{
		text-align:center;	
	}
	
	.call-to-action .text-right .theme-btn{
		margin-top:20px;	
	}
	
	.choose-us{
		background-image:none;	
	}
	
	.main-footer .info-links,
	.main-footer .newsletter-form,
	.footer-style-two .footer-middle .explore,
	.gallery-widget.style-two,
	.gallery-widget{
		padding-left:0px;
		margin-left:0px;	
	}
	
	.footer-style-two .footer-middle .about-widget .text{
		margin-right:0px;	
	}
	
	.call-back-form{
		padding-left:0px;	
	}
	
	.testimonial-section .carousel-column .inner:before{
		display:none;	
	}
	
	.testimonial-section .content-column .sec-title-three{
		text-align:center;	
	}
	
	.testimonial-section .content-column .sec-title-three h2:after{
		left:50%;
		margin-left:-21px;	
	}
	
	.service-block-three .inner-box{
		padding:0px 20px;	
	}
	
	.about-style-one .video-column{
		position:relative;
		left:0px;
		top:0px;
		height:400px;
		width:100%;
	}
	
	.about-style-one .content-column{
		width:100%;	
	}
	
	.about-style-one .content-column .content-box{
		padding:50px 15px;
		max-width:none;	
	}
	
	.request-form,
	.newsletter-form{
		padding-left:0px;	
	}
	
	.request-form .inner-box .request-title::after{
		-webkit-transform:rotate(2deg);
		-ms-transform:rotate(2deg);
		-o-transform:rotate(2deg);
		-moz-transform:rotate(2deg);
		transform:rotate(2deg);	
	}
	
	.sales-traning .image-box{
		margin:0 0;	
	}
	
	.sales-traning .image-box .image{
		margin:0 auto;	
	}
	
	.sales-traning .left-column,
	.sales-traning .right-column{
		margin:0px 0px 10px;
		padding:0px 40px;
	}
	
	.gallery-section-two .gallery-images{
		padding-right:0px;
	}
	
	.gallery-section-two .gallery-info{
		margin-left:0px;	
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.header-style-two .header-upper .main-menu .navigation > li,
	.header-style-one .header-upper .main-menu .navigation > li,
	.main-header .main-menu .navigation > li{
		margin-right: 10px;
	}
	
	.main-header .header-upper .upper-right{
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		padding-right:15px;
	}
	
	.sticky-header{
		display:none;	
	}
	
	.header-style-two .nav-outer{
		padding-right:0px;
	}
	
	.main-header.header-style-two .search-btn{
		display:none;	
	}
	
	.header-style-two .header-top .top-right .inner-box::before,
	.header-style-two .header-top .top-right .inner-box::after{
		display:none;	
	}
	
	.main-header .header-top .top-right, 
	.main-header .header-top .top-left {
		width: 100%;
		text-align:center;
	}
	
	.main-header .header-top .top-right ul,
	.main-header .header-top .top-left ul {
		text-align: center;
	}
	
	.main-header .header-top .top-right ul li,
	.main-header .header-top .top-left ul li,
	.main-header .links-nav li {
		display: inline-block;
		float: none;
		padding:0px 10px;
	}
	
	.belgrade-section .featured-block .inner-box .icon-box::after,
	.subscribe-form .subscribe-content::after{
		display:none;	
	}
	
	.request-call-section .call-inner{
		padding-bottom:0px;	
	}
	
	.in-touch .map-inner-box,
	.subscribe-form-box{
		padding-left:0px;	
	}
	
	.subscribe-form .subscribe-content{
		padding-right:0px;	
	}
	
	
	.page-title{
		padding:80px 0px;	
	}
	
	.page-title h1{
		font-size:30px;
		margin-bottom:10px;
	}
	
	.page-title .bread-crumb{
		text-align:left;	
	}
}

@media only screen and (max-width: 767px){
	
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-header.header-style-two .download-btn{
		left:0px;
		right:auto;
		top:30px;	
	}
	
	.main-header .header-main-box .nav-outer{
		width:100%;
		margin-top:-70px;
		padding-right:0px;	
	}
	
	.main-header.header-style-three .nav-outer{
		padding:0px;
		border:none;
	}
	
	.main-header.header-style-three .nav-outer .icon-search{
		display:none;	
	}
	
	.header-style-three .search-btn{
		left:0px;
		right:auto;
		top:25px;
		border:2px solid #e0e0e0;
		border-radius:2px;
		text-align:center;
		width:40px;
		height:40px;
		line-height:36px;	
	}
	
	.main-header.header-style-three .btn-outer{
		left:0px;	
	}
	
	.main-header.header-style-two .nav-outer{
		padding:0px 15px;	
	}
	
	.main-header .btn-outer{
		right:auto;
		left:0px;
		top:0px;
		z-index:14;	
	}
	
	.main-header .header-top .top-right, 
	.main-header .header-top .top-left {
		width: 100%;
		text-align:center;
	}
	
	.main-header .header-top .top-right ul,
	.main-header .header-top .top-left ul {
		text-align: center;
	}
	
	.main-header .header-top .top-right ul li,
	.main-header .header-top .top-left ul li,
	.main-header .links-nav li {
		display: inline-block;
		float: none;
	}

	.header-upper .logo-outer  {
		display: block;
		width: 100%;
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		padding-right:0px;	
	}
	
	.main-header .header-upper .upper-column.info-box {
		display: block;
		width:100%;
		text-align:center;
		padding:10px;
		max-width:none;
	}
	
	.main-header .info-box .icon-box{
		position:relative;
		display:block;
		top:0px;
		margin:0 auto 15px;
		font-size:24px;
	}
	
	.main-header.header-style-two .nav-outer{
		padding:0px;	
	}
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;	
	}
	
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:12px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		border:1px solid #04203b;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#e4b700;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation,
	.header-style-three .main-menu .navigation:first-child,
	.header-style-three .main-menu .navigation:last-child{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#04203b;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.header-style-three .header-upper .main-menu .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.header-style-two .header-upper .main-menu .navigation > li > a,
	.header-style-two .header-upper .main-menu .navigation > li > ul > li > a,
	.header-style-two .header-upper .main-menu .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		border:none !important;
		color:#ffffff !important;
		text-align:left;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before,
	.header-style-two .header-upper .main-menu .navigation > li > ul > li:after,
	.header-style-two .header-upper .main-menu .navigation > li:after,
	.header-style-two .header-upper .main-menu .navigation > li > ul > li:before,
	.header-style-two .header-upper .main-menu .navigation > li:before,
	.header-style-three .header-upper .main-menu .navigation > li:before,
	.header-style-three .header-upper .main-menu .navigation > li:after,
	.main-menu .navigation > li.current > a:before,
	.main-menu .navigation > li:hover > a:before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#04203b;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 15px !important;
		line-height:22px;
		color:#ffffff;
		background:#04203b;
		text-align:left;
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#04203b;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#04203b;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-slider,
	.page-title{
		margin-top:0px !important;	
	}
	
	.main-slider .tp-caption{
		display:none !important;	
	}
	
	.sec-title h2,
	.sec-title-one h2,
	.sec-title-two h2,
	.sec-title-three h2,
	.subscribe-form .subscribe-content h3{
		font-size:24px;	
	}
	
	.search-popup .search-form fieldset input[type="search"]{
		font-size:15px;
		padding:10px 15px;
		border-radius:0px;
	}
	
	.search-popup .search-form fieldset input[type="submit"]{
		position:relative;
		width:100%;
		border-radius:0px;
	}
	
	.main-header.header-style-one .btn-outer .quote-btn{
		padding:16px 10px;	
	}
	
	.main-header.header-style-one .btn-outer .quote-btn{
		padding:12px 10px;
		top:4px;	
	}
	
	.main-header.header-style-two .btn-outer{
		display:block;
		text-align:left;
		width:200px;
		left:0px;
		top:5px;
		margin-top:0px;	
	}
	
	.choose-us .choose-inner .featured-block .inner-box .icon-box:after{
		display:none !important;	
	}
	
	.main-footer .footer-bottom .copyright,
	.main-footer .footer-bottom .social-icons-one{
		width:100%;
		text-align:center;	
	}
	
	.info-box .inner-box{
		padding-left:0px;
		text-align:center;	
	}
	
	.info-box .inner-box .icon-box{
		position:relative;
		left:0px;
		top:0px;
		margin:0px auto 20px;	
	}
	
	.services-style-one{
		border-bottom:1px solid #e0e0e0;	
	}
	
	.belgrade-section{
		padding-top:120px;	
	}
	
	.header-style-three .header-upper{
		padding-bottom:20px;	
	}
	
	.program-content .program-icon-box .inner-box{
		text-align:center;	
	}
	
	.program-content .program-icon-box .inner-box .icon-box{
		margin:0 auto;	
	}
	
	.contacts-box .info-box{
		margin-bottom:50px;	
	}
}

@media only screen and (max-width: 599px){
	
	.content-side .comments-area .comment .comment-inner,
	.content-side .comments-area .reply-comment{
		padding-left:0px;
		padding-right:0px;
		margin-left:0px;	
	}
	
	.sidebar-page-container .comments-area .comment{
		padding-left:0px;	
	}
	
	.content-side .comments-area .comment .author-thumb{
		position:relative;
		top:0px;
		left:0px;
		margin-bottom:20px !important;	
	}
	
	.main-header .header-upper .upper-right{
		padding:0px 0px;	
	}
	
	.page-info .pull-left,
	.page-info .pull-right{
		width:100%;
		margin:10px 0px;
	}
	
	.featured-block .inner-box,
	.program-block .inner-box{
		position:relative;
		padding-left:0px;
		text-align:center;	
	}
	
	.featured-block .inner-box .icon-box,
	.program-block .inner-box .icon-box{
		position:relative;
		left:0px;
		top:0px;
		margin:0 auto 30px;	
	}
	
	.service-block .inner-box .image-box .overlay-box .text{
		display:none;	
	}
	
	.service-block-four .inner-box{
		padding-left:0px;	
	}
	
	.service-block-four .inner-box .image-box{
		position:relative;
		left:0px;
		top:0px;
		width:100%;
		height:auto;
		margin-bottom:20px;	
	}
	
	.sales-traning .left-column .service-block-five .inner-box,
	.sales-traning .right-column .service-block-five .inner-box{
		padding:20px;
		text-align:center !important;	
	}
	
	.service-block-five .inner-box .icon-box{
		position:relative;
		left:0px !important;
		right:0px !important;
		top:0px;
		bottom:0px;
		margin:0px auto 20px;	
	}
	
	.about-content-box h3{
		font-size:20px;
		padding-left:0px;	
	}
	
	.about-content-box h3 span{
		position:relative;
		font-size:24px;
		left:0px;
		top:0px;
		display:inline;
		margin:0px;
		padding:0px 10px 0px 0px;	
	}
	
	.program-content .program-title h2{
		font-size:20px;	
	}
	
	.gallery-section .filters li,
	.tabs-style-one .tab-buttons .tab-btn{
		display:block;
		border:2px solid #e0e0e0;
		padding:10px 20px;
		line-height:24px;
		margin:0px 0px 10px;
	}
	
	.sec-title-one .pull-right{
		width:100%;
		padding-top:20px;	
	}
	
	.news-block-two .inner-box{
		padding-left:0px;	
	}
	
	.news-block-two .image-box{
		position:relative;
		left:0px;
		top:0px;
		width:100%;
		height:auto;
		margin-bottom:20px;	
	}
	
	.sales-traning .left-column,
	.sales-traning .right-column{
		padding:0px 20px;
	}
	
	.accordion-box .block .acc-btn .icon-inner{
		display:none;	
	}
	
	.error-section h3{
		font-size:24px;	
	}
	
}

@media only screen and (max-width: 499px) {
	
	.main-header .header-upper .upper-column.info-box {	
		margin-left: auto;
		margin-right: auto;
		float: none;
		border:none;
	}
	
	.gallery-info ul li strong,
	.gallery-info ul li span{
		width:100%;	
	}
	
	.subscribe-form-box .form-group input[type="submit"],
	.subscribe-form-box .form-group button{
		position:relative;
		width:100%;
		right:0px;
		top:0px;
		text-align:center;	
	}
	
	.news-block .inner-box .lower-content .outer-link{
		padding-left:0px;
	}	
	
	.news-block .inner-box .lower-content .outer-link .date{
		position:relative;
		margin-bottom:15px;	
	}
	
}
